<div class="footer d-flex flex-column align-items-center" style="background-color:#33306F">
	<figure class="my-5" style="max-width:90px;">
		<img src="{{asset('images/logo-white.png')}}" alt="foo">
	</figure>
  <div class="social-icons my-3 w-50 d-flex justify-content-center">
  <figure class="m-3" style="max-width:90px;">
		<img src="{{asset('images/social-icon-fb.svg')}}" alt="bar">
	</figure>
  <figure class="m-3" style="max-width:90px;">
		<img src="{{asset('images/social-icon-twt.svg')}}" alt="john">
	</figure>
  <figure class="m-3" style="max-width:90px;">
		<img src="{{asset('images/social-icon-in.svg')}}" alt="pyy">
	</figure>
  <figure class="m-3" style="max-width:90px;">
		<img src="{{asset('images/social-icon-yt.svg')}}" alt="tro">
	</figure>
  </div>
</div>
